snippet f
	function${1}(${2}) {
		${0}
	}

# http://web-design-weekly.com/2015/01/29/opinionated-guide-react-js-best-practices-conventions/
snippet cc
	var ${1} = React.createClass({
		propTypes: {},
		getDefaultProps: function() {},
		mixins : [],

		render: function() {
			${0}
		}
	});
