snippet f
	function${1}(${2}) {
		${0}
	}

# http://web-design-weekly.com/2015/01/29/opinionated-guide-react-js-best-practices-conventions/
snippet cc
	const ${1} = React.createClass({
		propTypes: {
			sendAction: React.PropTypes.func.isRequired
		},

		render() {
		  const { sendAction } = this.props;

			return (
			  h("${2:div}", [
				  ${0}
				])
			);
		}
	});
